.container {
    width: 100%;
    border-style: double;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 40px;
}

.details {
    display: flex;
    flex-direction: column;
    padding-left: 50px;  
    padding-right: 50px;
    height: 100%;
}

.title {
    font-size: xx-large;
    margin-bottom: 10px;
}

.authors {
    font-size: large;
    margin-bottom: 30px;
}

.image {
    max-width: 300px;
}

.description {
    text-align: justify;
}