.container {
    width: 100%;
    border-style: double;
    padding: 25px;
    margin-bottom: 25px;
}

.details {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: xx-large;
    margin-bottom: 10px;
}

.authors {
    font-size: large;
    margin-bottom: 20px;
}

.image {
    max-width: 300px;
}

.description {
    text-align: justify;
}

@media only screen and (min-width: 768px) {

    .container {
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 30px;
        padding-bottom: 30px;
        margin-bottom: 40px;
    }

    .details {
        padding-left: 50px;  
        padding-right: 50px;
    }
}