.main {
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.introContainer {
    display: flex;
    align-items: center;
    width: 100%;
}

.imagePotrait {
    border-radius: 50px;
}

.introTextContainer {
    padding-left: 5%;
    padding-right: 5%;
}

.introName {
    margin-bottom: 30px;
    font-size: 40px;
    width: 100%;
}

.introText {
    margin-bottom: 30px;
}

.middleTextContainer {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
}

.middleTextTop {
    margin-bottom: 30px;
}

.taImageContainer {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.taImage {
    max-width: 800px;
}

.citationsContainer {
    width: 100%;
}

.citation {
    margin-bottom: 30px;
}