@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

a {
  color: #8800ff;
  text-decoration: none;
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

a:hover {
  color: #5e00b0;
}

svg {
  margin-right: 7px;
}

.btn-primary-ts {
  color: white;
  border-color: #311432;
  background-color: #311432;
}

.btn-primary-ts:hover {
  color: white;
  border-color: purple;
  background-color: purple;
}

.btn-primary-ts:focus {
  box-shadow: 0 0 0 0.2rem #b162c7;
  border-color: #311432;
  background-color: #311432;
}

.btn-primary-ts:active {
  box-shadow: 0 0 0 0.2rem #b162c7;
  border-color: purple;
  background-color: purple;
}

.text-primary-ts {
  color: #7a4988;
}