.about-heading {
    color: white;
    background-color: #311432;
}

.about-heading-title {
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 4px;
}

.about-heading-name {
    font-size: 70px;
}

.about {
    font-size: 20px;
}

.about-image {
    border-radius: 50px;
}
