.header {
    background-color: #311432;
    width: "100%";
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: x-large;
}

.brand {
    display: flex;
    justify-content: center;
}