.navitem {
    color: #ffffff;
    margin: 1em;
    text-transform: uppercase;
    font-family: monospace;
    letter-spacing: 2px;
}

.navitem:hover {
    color: #adadad;
}

.active {
    color: #adadad;
    text-decoration: underline;
}